<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../static/js/jquery-3.5.1.min.js"></script>
</head>
<body>
<h1>疫情追踪</h1>
<h3>失实报道</h3>
<button >点位有今昔</button>
<script>
    $('button').click(function(){
        $.ajax({
            url:'/ajax',
            type:'post',
            data:{"name":"lisi","score":90},
            success:function(d){
                $('h1').html('感染人数'+d)
            },error:function(){
                alert("发送ajax失败")
            }
        })
    })
</script>
</body>
</html>